/**
 * Footer styles
 */

#footer {
	z-index: 100;
	position: fixed;
	bottom: 0;
	background-color: #383838;
	width: 195px;
	height: 50px;
	margin: 10px;
	text-align: center;
	right: 0;
	opacity: .4;
	filter: alpha(opacity=50);
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
}

.timer {
	margin-top: 10px;
	font-size: 35px;
}
