
/**
 * Styles for the pictures section
 */

.pictures {
	background-color: rgb(252,252,252);
}

.pictures .content-box {
	height: 290px;
	margin-top: -180px;
}

.pictures-title {
	display: block;
	margin: auto;
	position: relative;
	text-indent: -9999px;
	width: 320px;
	height: 75px;
	background: url(../images/pictures.png) 0 0;
	margin-bottom: 25px;
}

.gallery-title {
	font-size: 35px;
	margin-bottom: 25px;
	text-align: center;
	color: rgb(169,169,169)
}

.gallery {
	position: relative;
	display: block;
	overflow: auto;
	margin-top: 15px;
	width: 564px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.photo {
	display: block;
	position: relative;
	text-indent: -9999px;
	width: 51px;
	height: 51px;
	background: url(../images/pthumb-sprite.jpg) no-repeat;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
}

.photo span {
	position: absolute;
	top: 0;left: 0;bottom: 0;right: 0;
	background: url(../images/pthumb-sprite.jpg) no-repeat;
	background-position: -51px 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	-ms-transition:     opacity 0.5s;
}

.photo:hover span {
	opacity: 1;
	filter: alpha(opacity=100);
}

.gallery .kufi span {
	background: url(../images/kufi.jpg);
}

.gallery .one span {
	background: url(../images/pthumb-sprite.jpg) -51px 0;
}

.gallery .two span {
	background: url(../images/pthumb-sprite.jpg) -102px 0;
}

.gallery .three span {
	background: url(../images/pthumb-sprite.jpg) -153px 0;
}

.gallery .four span {
	background: url(../images/pthumb-sprite.jpg) -204px 0;
}

.gallery .five span {
	background: url(../images/pthumb-sprite.jpg) -255px 0;
}

.gallery .six span {
	background: url(../images/pthumb-sprite.jpg) -306px 0;
}

.gallery .seven span {
	background: url(../images/pthumb-sprite.jpg) -357px 0;
}

.gallery .eight span {
	background: url(../images/pthumb-sprite.jpg) -408px 0;
}

.gallery .nine span {
	background: url(../images/pthumb-sprite.jpg) -459px 0;
}

.gallery .ten span {
	background: url(../images/pthumb-sprite.jpg) -510px 0;
}

.gallery .eleven span {
	background: url(../images/pthumb-sprite.jpg) -561px 0;
}

.gallery .twelve span {
	background: url(../images/pthumb-sprite.jpg) -612px 0;
}

.gallery .thirteen span {
	background: url(../images/pthumb-sprite.jpg) -663px 0;
}

.gallery .fourteen span {
	background: url(../images/pthumb-sprite.jpg) -714px 0;
}

.gallery .fifteen span {
	background: url(../images/pthumb-sprite.jpg) -765px 0;
}

.gallery .sixteen span {
	background: url(../images/pthumb-sprite.jpg) -816px 0;
}

.gallery .seventeen span {
	background: url(../images/pthumb-sprite.jpg) -867px 0;
}

.gallery .eighteen span {
	background: url(../images/pthumb-sprite.jpg) -918px 0;
}
