/**
 * Styles for the family members section
 */

.party {
	background-color: rgb(248,202,105);
}

.party .content-box {
	height: 350px;
	margin-top: -20%;
}

.family-title {
	font-family: 'BlanchCapsInline', arial;
	margin: 20px auto;
}

.party-title-temp {
	text-align: center;
	font-size: 3em !important;
	color: white;
}

.party h2 {
	text-align: center;
	color: rgb(0,138,160);
	text-shadow: rgb(0,138,160) 0 0 0;
}

.groomsmen,
.bridesmaids {
	display: inline;
	position: relative;
	/* 	width: 353px; */
	height: 60px;
	padding-top: 60px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.wp-title {
	margin-top: 15px;
	margin-right: 20px;
	margin: 0 auto;
}

.party-gallery {
	display: block;
	overflow: auto;
	width: 80%;
	height: 90px;
	margin: 0 auto;
}

.wp {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 25px;
	height: 25px;
	background: url(../../images/family-sprite-mobile.png) no-repeat;
	/* float: left; */
	margin-right: 3px;
	margin-top: 10px;
}

.wp span {
	position: absolute;
	top: 0;left: 0;bottom: 0;right: 0;
	background: url(../../images/family-sprite-mobile.png) no-repeat;
	background-position: -51px 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	-ms-transition:     opacity 0.5s;
}

.wp:hover span {
	opacity: 1;
	filter: alpha(opacity=100);
}

.groomsmen .kufi span {
	background: url(../../images/kufi.jpg);
}

.groomsmen .papa span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -25px 0;
}

.groomsmen .mama span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -50px 0;
}

.groomsmen .abang span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -75px 0;
}

.groomsmen .aiman span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -100px 0;
}

.groomsmen .naneen span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -125px 0;
}

.groomsmen .kaknurul span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -150px 0;
}

.groomsmen .nuha span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -175px 0;
}

.groomsmen .uwais span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -200px 0;
}

.groomsmen .umar span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -225px 0;
}

.bridesmaids .abah span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -250px 0;
}

.bridesmaids .mama-m span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -275px 0;
}

.bridesmaids .kakak span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -300px 0;
}

.bridesmaids .adik span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -325px 0;
}

.bridesmaids .along span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -350px 0;
}

.bridesmaids .kimi span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -375px 0;
}

.bridesmaids .fayadh span {
	background: url(../../images/family-sprite-mobile.png) no-repeat -400px 0;
}
