/**
 * Styles for the home section
 */

.home {
	background-color: rgb(171,221,198);
}

.home-img {
	width: 100%;
	height: 120px;
	background: url(../../images/mm-title.png) no-repeat center center;
	background-size: 35vh;
}

.main-img {
	margin-top: -45px;
	width: 165px;
}

.content-box-main {
	top: 23%;
}