/**
 * Styles for our story section
 */

.story {
	background-color: rgb(230,230,230);
}

.story .content-box {
	height: 460px;
	margin-top: -25%;
}

.story-title {
	color: #DA585F;
	font-family: 'BlanchCapsInline', arial;
	margin: 20px auto;
}

.story h2 {
	display: block;
	position: relative;
	text-align: center;
	color: rgb(169,169,169);
}

.timeline {
	position: relative;
	display: block;
	overflow: auto;
	height: 35%;
	background: url(../../images/arrow.png) no-repeat center top;
	background-size: 90%;
	margin: 0 auto;
}

.first {
	margin-left: 15%;
}

.second {
	margin-left: 7%;
}

.third {
	margin-left: 15%;
}

.fourth {
	margin-left: 5%;
}

.fifth {
	margin-left: 10%;
}

.heart {
	display: block;
	position: relative;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	background: url(../../images/heart-mobile.png) no-repeat;
	background-size: 40px;
	float: left;
	cursor: pointer;
	margin-top: 2.0%;
	padding: 0px;
}

.heart span {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../../images/heart-mobile.png) no-repeat;
	background-position: -20px 0px;
	background-size: 40px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	-ms-transition:     opacity 0.5s;
}

.heart:hover span {
	opacity: 1;
	filter: alpha(opacity=100);
}

.story-description {
	display: none;
	position: absolute;
	background-color: rgb(230,230,230);
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 80%;
	top: 25px;
	text-align: center;
	opacity: 0;
	font-size: 95%;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	-ms-transition:     opacity 0.5s;
}

.highlights:hover h4,
.active {
	display: block;
	opacity: 1;
	filter: alpha(opacity=100);
}

.highlights h4 span {
	font-size: 135%;
	line-height: 1.2em;
}
