/**
 * Footer styles
 */

.footer-timer,
.footer-social {
	z-index: 100;
	position: fixed;
	bottom: 0;
	height: 50px;
	margin: 10px;
	text-align: center;
	opacity: .4;
	filter: alpha(opacity=50);
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
}

.footer-timer {
	width: 195px;
	right: 0;
	background-color: #383838;
}

.footer-social {
	width: 175px;
}

.timer {
	margin-top: 10px;
	font-size: 35px;
}

.social-icon-wrap {
	margin: auto 3px;
	text-decoration: none;
	cursor: pointer;
}

.social-icon {
	width: 50px;
}
