/**
 * Styles for the RSVP section
 */

.rsvp {
	background-color: rgb(0,138,160);
}

.rsvp .content-box {
	height: 475px;
	margin-top: -280px;
}

.rsvp-title {
	display: block;
	margin: auto auto 25px auto;
	position: relative;
	text-indent: -9999px;
	width: 785px;
	height: 75px;
	background: url(../../images/title-sprites.png) 0 -225px;
}

.rsvp h2 {
	text-align: center;
	color: #FFFFFF;
	text-shadow: rgb(0,138,160) 0 0 0;
}

.rsvp-now {
	margin: 20px auto;
	width: 80%;
	height: 70%;
	text-align: center;
}

.labels {
	position: relative;
	float: left;
	width: 240px;
	height: 240px;
	margin-top: 0;
}

.labels h3 {
	text-align: right;
	font-family: 'BlanchCapsRegular', arial;
	font-size: 2.5em;
	font-weight: normal;
	color: #FFFFFF;
	margin: 20px 0;
	height: 30px;
}

.guest-name span {
	color: rgb(248,191,84);
}

.forms {
	position: relative;
	width: 210px;
	height: 240px;
	margin: 0 0 0 15px;
	float: left;
}

.rsvp-form {
	width: 50%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: #4a4a4a;
	margin-top: 15px;
	font-family: sans-serif;
	border: none;
}

.form-group {
	clear: both;
}

.rsvp-label {
	float: left;
	text-align: right;
	width: 35%;
}

.rsvp-label-title {
	margin: 10px 0;
}

.submit-container {
	position: relative;
	width: 100%;
	text-align: center;
	clear: both;
}

.submit-btn {
	position: relative;
	padding: 5px 50px;
	margin: 20px 0;
	background-color: rgb(248,191,84);
	font-family: 'BlanchCapsRegular', arial;
	font-size: 55px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	-webkit-transition-property: color, background-color;
	-webkit-transition-duration: .5s, .5s;
	-webkit-transition-timing-function: linear, ease-in;
	-moz-transition-property: color, background-color;
	-moz-transition-duration: .5s, .5s;
	-moz-transition-timing-function: linear, ease-in;
	-o-transition-property: color, background-color;
	-o-transition-duration: .5s, .5s;
	-o-transition-timing-function: linear, ease-in;
	-ms-transition-property: color, background-color;
	-ms-transition-duration: .5s, .5s;
	-ms-transition-timing-function: linear, ease-in;
}

.submit-btn:hover {
	color: rgb(248,191,84);
	background-color: #FFFFFF;
	border: 0;
}

.questions {
	clear: both;
	text-align: center;
	margin-top: 55px
}

.questions a {
	color: rgb(248,191,84);
	text-decoration: none;
}
